// reset 重置样式
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background-color: #f1f1f1;
}
a {
  color: #999;
}

// colors
$colors: (
  "primary": #db9e3f,
  "white": #fff,
  "light": #f9f9f9,
  "gray": #999,
  "dark-1": #343440,
  "dark": #222,
  "black": #000
);
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}

// font size
$base-font-size: 1rem;
$font-sizes: (
  // 10px
    "xs": 0.7692,
  // 12px
    "sm": 0.9231,
  // 13px
    "md": 1,
  // 14px
    "lg": 1.0769,
  //16px
    "xl": 1.2308
);
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
$flex-jc: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around
);
@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

$flex-ai: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "stretch": stretch
);
@each $key, $value in $flex-ai {
  .jc-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}

$spacing-types: (
  m: margin,
  p: padding
);
$spacing-drictions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$spacing-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);
@each $typeKey, $type in $spacing-types {
  @each $drictionKey, $driction in $spacing-drictions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$drictionKey}-#{$sizeKey} {
        #{$type}-#{$driction}: $size * $spacing-size;
      }
    }
  }
}
